# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- To illustrate popular languages for DataScience
- To illustrate popular libraries for DataScience
- To understand the Behaviour of Markdown cells
- To illustrate few basic arithmetic python cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Apache Spark       |
| TensorFlow         |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
print(5-3+2)
print((5-3)%2)

4
0

In [10]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [17]:
print(200/60, "hours")

3.3333333333333335 hours

## Author
Mukku Prabhat Reddy